:root {
      --green-color: #33d1cc;
      --dark-color: #19283f;
      --red-color: #ff3150;
      --yellow-color: #ffc400;
      --section-color: #eff7fa;
}

body {
      text-transform: capitalize;
}

.main-button {
      background-color: var(--red-color);
      color: var(--yellow-color);
      padding: 0.5rem 1rem;
}

.main-button:hover {
      background-color: var(--red-color);
      color: var(--yellow-color);
}

/* start navbar */
/*  end navbar*/
.navbar {
      background-color: var(--dark-color);
}

.navbar .nav-item a {
      color: white;
}

.navbar .nav-item a.active,
.navbar .nav-item a:hover,
.navbar .nav-item a:focus {
      color: var(--green-color);
}

.navbar-toggler {
      border: 1px solid var(--green-color);
}

.navbar-toggler:focus {
      box-shadow: none;

}

.menu {
      color: white;

}

.search {
      border-left: 2px solid var(--green-color);
      color: var(--green-color);

}

.search svg {
      font-size: 20px;
}

/* start landing */
.landing {
      background-color: var(--dark-color);
      min-height: calc(100vh - 72px);
}

/* end landing */

/* start featuers */
.main-title::after {
      content: "";
      width: 120px;
      height: 3px;
      background-color: var(--green-color);
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}

.icons-holder {
      height: 200px;
}
.icons-holder svg {
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}
.number {
      font-size: 12rem;
      color: var(--section-color);
}
.icon{
      color: var(--green-color);

      
}
.features h4{
      color: var(--yellow-color);
}
/* end featuers */