:root {
      --green-color: #33d1cc;
      --dark-color: #19283f;
      --red-color: #ff3150;
      --yellow-color: #ffc400
}

body {
      text-transform: capitalize;
}

.main-button {
      background-color: var(--red-color);
      color: var(--yellow-color);
      padding: 0.5rem 1rem;
}

.main-button:hover {
      background-color: var(--red-color);
      color: var(--yellow-color);
}

/* start navbar */
/*  end navbar*/
.navbar {
      background-color: var(--dark-color);
}

.navbar .nav-item a {
      color: white;
}

.navbar .nav-item a.active,
.navbar .nav-item a:hover,
.navbar .nav-item a:focus {
      color: var(--green-color);
}

.navbar-toggler {
      border: 1px solid var(--green-color);
}

.navbar-toggler:focus {
      box-shadow: none;

}

.menu {
      color: white;

}

.search {
      border-left: 2px solid var(--green-color);
      color: var(--green-color);

}

.search svg {
      font-size: 20px;
}

/* start landing */
.landing {
      background-color: var(--dark-color);
      min-height: calc(100vh - 72px);
}

/* end landing */